{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/games/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/games/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/games/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/games/img/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'games/login.css' %}">
    <title>Verify</title>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        {% endif %}
    </script>
</head>

<body>
    <div class="login-box" style="height: 283px;">
        <h1>Verifing Email</h1>
        <form action="{% url 'verify' %}" method="post">
            {% csrf_token %}
            <p>Enter OTP</p>
            <input type="text" name="otp" placeholder="Enter Sent OTP">
            <input type="submit" value="Verify">
        </form>
    </div>
</body>

</html>