{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDR2 download for free</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/games/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/games/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/games/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/games/img/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'games/games.css' %}">
    <style>
        section {
            background: center url(/static/games/img/rdr2\ bg.jpg) repeat fixed;
            background-size: 100vw 100vh;
            min-height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        {% endif %}
    </script>
</head>

<body>
    <header>
        <nav>
            <img src="{% static 'games/img/logo.png' %}" alt="LOGO">
            <h2 style="color: white">Welcome, {{ user.username }}</h2>
            <div>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="left" style="background: url(/static/games/img/rdr2\ 1.jpg) no-repeat center / cover;"></div>
                <div class="right">
                    <div class="content">
                        <h1>About The Game</h1>
                        <p>Red Dead Redemption 2 Free Download PC Game pre-installed in direct link. Red Dead Redemption
                            2 was released on Dec 5, 2019.
                            America, 1899. Arthur Morgan and the Van der Linde gang are outlaws on the run. With federal
                            agents and the best bounty hunters in the nation massing on their heels, the gang must rob,
                            steal and fight their way across the rugged heartland of America in order to survive. As
                            deepening internal divisions threaten to tear the gang apart, Arthur must make a choice
                            between his own ideals and loyalty to the gang who raised him. Now featuring additional
                            Story Mode content and a fully-featured Photo Mode, Red Dead Redemption 2 also includes free
                            access to the shared living world of Red Dead Online, where players take on an array of
                            roles to carve their own unique path on the frontier as they track wanted criminals as a
                            Bounty Hunter, create a business as a Trader, unearth exotic treasures as a Collector or run
                            an underground distillery as a Moonshiner and much more. With all new graphical and
                            technical enhancements for deeper immersion, Red Dead Redemption 2 for PC takes full
                            advantage of the power of the PC to bring every corner of this massive, rich and detailed
                            world to life including increased draw distances; higher quality global illumination and
                            ambient occlusion for improved day and night lighting; improved reflections and deeper,
                            higher resolution shadows at all distances; tessellated tree textures and improved grass and
                            fur textures for added realism in every plant and animal. Red Dead Redemption 2 for PC also
                            offers HDR support, the ability to run high-end display setups with 4K resolution and
                            beyond, multi-monitor configurations, widescreen configurations, faster frame rates and
                            more.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="right-1">
                    <div class="content">
                        <h1>System Requirements</h1>
                        <p>
                        <ul>
                            <li>Requires a 64-bit processor and operating system.</li>
                            <li>OS: Windows 7 – Service Pack 1 (6.1.7601).</li>
                            <li>Processor: Intel® Core™ i5-2500K / AMD FX-6300.</li>
                            <li>Memory: 8 GB RAM.</li>
                            <li>Graphics: Nvidia GeForce GTX 770 2GB / AMD Radeon R9 280 3GB.</li>
                            <li>Storage: 150 GB available space.</li>
                            <li>Sound Card: Direct X Compatible.</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="left-1" style="background: url(/static/games/img/rdr2\ 2.jpg) no-repeat center / cover;"></div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="left" style="background: url(/static/games/img/rdr2\ 3.jpg) no-repeat center / cover;"></div>
                <div class="right">
                    <div class="content">
                        <h1>How to Install</h1>
                        <p>
                        <ol>
                            <li>Click the Download button below and you should be redirected to UploadHaven.</li>
                            <li>Wait 5 seconds and click on the blue ‘download now’ button. Now let the download begin
                                and wait for it to finish.</li>
                            <li>Once Red Dead Redemption 2 is done downloading, right click the .zip file and click on
                                “Extract to Red.Dead.Redemption.2.Fixed.zip” (To do this you must have 7-Zip, which you
                                can get here).</li>
                            <li>Double click inside the Red Dead Redemption 2 folder and run the exe application.</li>
                            <li> Have fun and play! Make sure to run the game as administrator and if you get any
                                missing dll errors, look for a Redist or _CommonRedist folder and install all the
                                programs in the folder.</li>
                            </ul>
                            </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="right-1">
                    <div class="content">
                        <h1>Download from Here</h1>
                        <p>Click the download button below to start Red Dead Redemption 2 Free Download with direct
                            link. It is the full version of the game. Don’t forget to run the game as
                            administrator.<br><br><br></p>
                        <a href="https://downloadsfreefile.com/n6hjxc?title=File%3A%20Dark%20Souls%203%20v1.15%20%2B%20ALL%20DLC%27s.zip%20%20%20%20%20%20%20...&click_id=8474282000288937817&source=787432&o=235"
                            target="_main" class="btn">Download</a>
                    </div>
                </div>
                <div class="left-1" style="background: url(/static/games/img/rdr2\ 4.jpg) no-repeat center / cover;"></div>
            </div>
        </section>
    </main>
    <footer>
        <p id="Note">Note:- The Website is in Development Phase. So, all features may not work.<br> Please be patient.
        </p>
        <br>
        <p>Copyright &copy; 2021 Gamer'sDestiny.com . All rights reserved.</p>
    </footer>
</body>

</html>